<!DOCTYPE html>
<html>
<body>

    <esi:include src="/esi_include"/>
   {# {{ render_esi(url('esi_include', {})) }} #} 
    <br/><br/>
    Fragment above is rendered using esi.
    <br/>
    

</body>
</html>
